<div class="col-xs-12 changing_form">
<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
<h2>User {{user.name}} is changing</h2>
<p class="successChange" *ngIf="successChange">Profile updated</p>
<hr/>
    <form [formGroup]="fullFormControl">
      <div class="row">
          <div class="col-xs-12 form-group">
            <label for="name">Name</label>
            <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
            <input 
            formControlName="nameControl"
            type="text">
          </div>
          <div class="col-xs-12 form-group">
            <label for="surname">Surname</label>
            <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
            <input 
            formControlName="surnameControl"
            type="text">
          </div>
          <div class="col-xs-12 form-group">
            <label for="age">Age</label>
            <span><i class="fa fa-info" aria-hidden="true"></i></span>
            <input 
            formControlName="ageControl"
            type="number">
            <span class="check">
              <i class="fa"
                [ngClass]="{'fa-times':(!validAgeInput),
                            'fa-check': validAgeInput}" 
                aria-hidden="true">
            </i></span>
          </div>
          <div class="col-xs-12 form-group">
            <label for="email">E-mail</label>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input 
            formControlName="emailControl"
            type="email">
            <span class="check">
              <i class="fa"
                [ngClass]="{'fa-times':(!validEmailInput),
                            'fa-check': validEmailInput}" 
                aria-hidden="true">
            </i></span>
          </div>
          <div class="col-xs-12 form-group">
            <label for="password">Password</label>
            <span><i class="fa fa-key" aria-hidden="true"></i></span>
            <input 
            formControlName="passwordControl"
            type="text">
            <span class="check">
              <i class="fa"
                [ngClass]="{'fa-times':(!validPasswordInput),
                            'fa-check': validPasswordInput}" 
                aria-hidden="true">
            </i></span>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <div class="btn btn-success" type="submit" (click)="onChangeAnyUser()">Change</div>
        </div>
      </div>
      <div class="clear"></div>
    </form>
  </div>
  <div class="clear"></div>