<div class="users_list col-xs-12 col-md-8 col-md-offset-2">
    <h2>Users</h2>
    <div class="table-responsive">
      <table class="table">
          <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Age</th>
              <th>E-mail</th>
              <th>Password</th>
              <th></th>
          </tr>
          <tr *ngFor="let user of users" [ngClass]="{info:isActived(user)}">
              <td>{{user.name}}</td>
              <td>{{user.surname}}</td>
              <td>{{user.age}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>
              <td>
            <button 
              class="btn btn-danger" 
              type="button" 
              *ngIf="!isActived(user)" 
              (click)="inDeleteUser(user)">
              Delete</button> 
                <button 
                  class="btn btn-info" 
                  type="button" 
                  (click)="openModalWithComponent(user)">
                  Change</button>
              </td>
          </tr>
      </table>
      <button 
        class="btn btn-success add_user" 
        type="submit" 
        (click)="inAddUser()">
        Add user</button>
    </div>
    <div class="clear"></div>
  </div>
<div class="clear"></div>