<div class="wthree-container">
  <div class="wthree-form">
    <div class="agileits-2">
      <h2>login</h2>
    </div>
    <form action="#" method="post">
      <div class="w3-user">
        <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
        <input type="text" name="Username" placeholder="Username" required="">
      </div>
      <div class="clear"></div>
      <div class="w3-psw">
        <span><i class="fa fa-key" aria-hidden="true"></i></span>
        <input type="password" name="password" placeholder="Password" required="">
      </div>
      <div class="clear"></div>
      <div class="w3l">
        <span><a href="#">forgot password ?</a></span>  
      </div>
      <div class="clear"></div>
      <div class="w3l-submit">
        <input type="submit" value="login">
      </div>
      <div class="clear"></div>
    </form>
  </div>
</div>