
.wthree-container {
    display: flex;
	justify-content: center;
}
.agileits-2 h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}
.wthree-form {
    flex-basis: 350px;
    padding: 5em;
	background: rgba(15, 15, 15, 0.81);
	box-shadow: 3px 3px #ccc;
}	
.wthree-form input[type="text"] {
	font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    float: left;
    width: 85%;
    margin-bottom: 1em;
    padding: 0.1em 10px;
    line-height: 40px;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #000;
	font-family: 'Raleway', sans-serif;
}
.wthree-form  input[type="password"]{
	font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    float: left;
    width: 85%;
    margin-bottom: 1em;
    padding:  0.1em 10px;
    line-height: 40px;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #000;
	font-family: 'Raleway', sans-serif;
}
.form-group{
    margin-bottom: 15px;
}
span .fa {
    font-size: 16px;
    float: left;
    background: #58dbf1;
    color: #fff;
    text-align: center;
    width: 15%;
    line-height: 40px;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 0.1em;
}
.w3l span a {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    padding: 0 0 30px;
    color: #fff;
	font-family:'Josefin Sans', sans-serif;
}
.w3l-submit input[type="submit"],.submit {
	font-size: 23px;
	font-weight: 500;
    text-transform: uppercase;
    text-align: center;
	letter-spacing: 3px;
	padding: 5px;
    width: 60%;
    margin: 0 auto;
	display: block;
    border: 2px solid transparent;
    outline: none;
	color: #fff;
    cursor: pointer;
	background-color: #157e90;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	-ms-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
	
	
}
.warning{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}
.warning-Username,.warning-password{
    color: #fff;
    text-align: left;
    margin-bottom: 1em;
}
.w3l-submit input[type="submit"]:hover,.submit:hover{
	border: 2px solid #fff;
	background: #033127;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	-ms-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}
@media(max-width:568px){
	.wthree-form {
		padding: 4em;
	}
}
@media(max-width:480px){
	.wthree-form {
    flex-basis: 300px;
	}
}
@media(max-width:414px){
	.wthree-form {
    flex-basis: 250px;
	}
}
@media(max-width:384px){
	.wthree-form {
    flex-basis: 220px;
	}
}